/* Display */
@mixin display1 {
  display: flex;
  flex-flow: row wrap;
}

@mixin display2 {
  display: flex;
  flex-flow: column wrap;
}

/* Fonts */
@mixin font1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 164%;
}

@mixin font2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 164%;
}

/* Footer */
@mixin footer {
  color: #ffffff;
  font-weight: 500;
  font-size: 21px;
}

/* Responsive */
@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}