/* Colors */
$background1: #eeeff1;
$background2: #000000;
$background3: #34547a;
$background4: #727272;
$background6: #f9f9f9;

$color1: #ffffff;
$color2: #000000;
$color3: #727272;

/* Fonts */
$font-main: "Roboto", sans-serif;
$font-size-base: 16px;
$line-height-base: 164%;